<article class="audio-lesson" [ngClass]="suggestSettings.timeOfDay">
    <img [src]="'../../../../assets/images/suggest-' + suggestSettings.timeOfDay + '.png'" alt="Продуктивный день" class="background-image" />
    <header>
      <span class="lesson-type">Аудио урок</span>
    </header>
    <div class="lesson-text">
        <h4 class="lesson-title">{{ suggestSettings.title }}</h4>
        <p class="lesson-subtitle" *ngIf="suggestSettings.subtitle">{{suggestSettings.subtitle}}</p>
    </div>
  </article>