.task-card {
    display: flex;
    align-items: center;
    &__icon {
        height: 60px;
        width: 60px;
        border-radius: 6px;
        margin-right: 8px;
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-shrink: 0;
    }
    &__text {
        flex: 1;
        word-break: break-word;
        margin-right: 16px;
        &-title {
            font-size: 14px;
            font-weight: 500;
        }
        &-button {
            color: var(--primary-buttons);
            display: flex;
            align-items: center;
            margin-top: 4px;
            font-size: 13px;
            font-weight: 300;
            cursor: pointer;
        }
    }
    &__check {
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--stroke-light);
        border-radius: 50%;
        cursor: pointer;
        &.--active {
            border: 1px solid #00AB44;
            background: #00AB441A;
        }
        &-icon {
            width: 18px;
            height: 18px;
        }
    }
}
