<app-sector class="sector-task-card" [padding]="8" [borderItem]="true" [bg]="true">
    <div class="task-card">
        <div class="task-card__icon">
            <img src="" alt="" class="task-card__icon-img">
        </div>
        <div class="task-card__text">
            <h4 class="task-card__text-title">Title</h4>
            <p class="task-card__text-subtitle">подробнее</p>
        </div>
        <div class="task-card__check">
            <img class="task-card__check-icon" src="assets/images/check.png" alt="check">
        </div>
    </div>
</app-sector>