:host {
    width: 100%;
    flex: 0;
   
}

.button {
    display: flex;
    background: var(--primary-buttons);
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    &.--disabled {
        pointer-events: none;
        background: var(--gray);
    }
}