:host {
    width: 100%;
    flex: 0;
   
}

.button {
    display: flex;
    background: var(--primary-buttons);
    border-radius: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 0px 0px #003F7E;
    cursor: pointer;
    line-height: 1;
    &.--disabled {
        pointer-events: none;
        background: var(--gray);
    }
}