<div class="page container">
  <div class="page-body">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <div class="page-footer-premium" *ngIf="showFooter && showPremium">
    <div class="footer-premium__container" routerLink="/buying">
      <div class="footer-premium__prem-icon">
        <img src="assets/images/premium.png" alt="crown">
      </div>
      <div class="footer-premium__info">
        <p class="footer-premium__info-title">
          Начать курс
        </p>
        <p class="footer-premium__info-subtitle">
          {{lessonsCount}} уроков
        </p>
      </div>
      <div class="footer-premium__price">
        <app-price class="footer-premium__price-container" [textGray]="true"></app-price>
        <mat-icon svgIcon="arrowRight"></mat-icon>
      </div>
    </div>
  </div>
  <div class="page-footer" *ngIf="showFooter">
    <app-footer></app-footer>
  </div>
</div>

<app-loading></app-loading>