.materials {
    padding: 24px 16px;
    height: 100vh;
    padding-bottom: var(--dynamic-size);
    overflow-x: hidden;
    overflow-y: auto;

    &__header {
        margin-bottom: 32px;
    }

    &__main-course {
        height: 500px;
        position: relative;
        border-radius: 16px;
        background: #FFFFFF12;
        border: 1px solid var(--stroke-light);
        margin-bottom: 32px;
        

        &-header {
            padding: 16px;
            height: 400px;
            background: linear-gradient(180deg, rgba(23, 24, 53, 0) 39.88%, #171835 100%), url('../../../../assets/images/course-preview.png') no-repeat;
            background-position: bottom;
            background-size: cover;
            border-start-start-radius: 16px;
            border-start-end-radius: 16px;
            margin-bottom: -50px;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 10;
        }

        &-body {
            padding: 16px;
            padding-bottom: 22px;
            position: absolute;
            bottom: 0;
            z-index: 20;

        }

        &-content {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &-button-open {
        background: var(--stroke-dark);
    }

    &__audio-lessons {
        margin-bottom: 30px;
        &-title {
            margin-bottom: 24px;
        }

        &-swiper {
            width: 100%;
            text-align: left;
            min-height: 216px;
            max-height: 356px;
            height: 100%;
            margin-bottom: 40px;
        }

        &-slide {
            height: 275px;
            width: 220px !important;
            padding: 16px;
            border-radius: 20px;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;


            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &-title {
                font-weight: 500;
            }
        }
    }
}
.main-course {
    &-length {
        margin-bottom: 16px;
    }
    &-title {
        margin-bottom: 8px;
    }
    &-subtitle {
        margin-bottom: 24px;
        font-size: 13px;
    }
}
.audio {
    &-duration {
        background: var(--stroke-light);
        color: var(--primary-text);
        border: none;
        padding: 4px 6px;
        height: 21px;
        font-size: 13px;
    }

    &-lock {
        background: var(--gold-gradient);
        color: #080110;
        width: 36px;
        height: 36px;
    }
    &-opens-with {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        &-tag {
            background: #FFFFFF99;
            border: 1px solid #FFFFFF4D;
            color: var(--main-background);
            font-size: 12px;
            font-weight: 400;
            padding: 0px 8.5px 0px 16px;
            height: 40px;
        }
        &-lock {
            width: 24px;
            height: 24px;
            background: var(--stroke-light);
            margin-left: 10px;
        }
    }
}

.course {
    &-label {
        display: flex;
        justify-content: space-between;
    }

    &-tag {
        background: var(--gold-gradient);
        color: #000;
        border: none;
        padding: 4.5px 16px;
        height: 30px;
    }
}

// progress cirle
.progress-container {
    width: 30px;
    height: 30px;
}

.progress-circle {
    position: relative;
    height: 30px;
}

.circular-chart {
    width: 30px;
    height: 30px;
}

.circle-bg {
    fill: none;
    stroke: #FFED8640;
    stroke-width: 1.4px;
}

.circle {
    fill: none;
    stroke: #FFE442;
    stroke-width: 1.4px;
    stroke-linecap: round;
    transition: stroke-dasharray 0.6s ease;

}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    width: 22px;
    height: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1px;
    align-items: center;
    background: var(--gold-gradient);
    border-radius: 50%;
    color: #000;
}