.practice-settings {
    &__text {
        margin-bottom: 24px;
    }


    &__select {
        overflow-y: hidden;
        overflow-x: auto;
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px;
        margin-bottom: 16px;

        &-list {
            display: flex;
            width: max-content;
            padding-right: 16px;
        }

        &-tag {
            margin-right: 8px;
            margin-bottom: 8px;
            padding: 8px 10px 8px 16px;
            font-size: 16px;
            cursor: pointer;
            background: var(--stroke-dark);
            color: var(--primary-text);

            &-icon {
                margin-right: 8px;

                font-size: 20px;
            }
            &-title {
                margin-right: 6px;
            }
            &-lock {
                width: 24px;
                height: 24px;
                background: var(--stroke-light);
                margin-left: 10px;
            }

            &.--active {
                border: 1px solid var(--purple);
            }
        }
    }

    &__list {}

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--stroke-light);
        padding: 24px 0;
        cursor: pointer;

        &-data {
            display: flex;
            align-items: center;
            color: var(--secondary-text);

            &-value {
                margin-right: 8px;
            }
        }
    }
}

.hidden {
    display: none;
}