.slide-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__img {
        width: 160px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        filter: drop-shadow(0 0 30px #5E57CD);

    }

    &__stats {
        line-height: 1;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__text {
        padding: 26px 5px 0;
    }
}