:host {
    width: 100%;
}
.calendar {
    display: flex;
    width: 100%;
    &__header {
        padding-right: 8px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        &::before {
            content: "";
            position: absolute;
            right: 0;
            height: 50%;
            width: 1px;
            background: var(--stroke-light);
        }
        p {
            margin-right: 4px;
        }
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        padding-left: 8px;
        &-item {
            &-week_day_name {
                margin-bottom: 5px;
            }
            &-day {
                font-size: 16px;
                color: var(--disabled);
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                line-height: 1;
                &.--active {
                    background: var(--purple);
                    color: var(--main-background)
                }
            }
        
        }
    }
}