@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;

}

.mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: var(--primary-text);
  --mdc-slider-focus-handle-color: var(--primary-text);
  --mdc-slider-hover-handle-color: var(--primary-text);
  --mdc-slider-active-track-color: var(--primary-text);
  --mdc-slider-inactive-track-color: var(--primary-text);
  --mdc-slider-with-tick-marks-active-container-color: #fff;
  --mdc-slider-with-tick-marks-inactive-container-color: var(--primary-text);
  --mat-mdc-slider-ripple-color: var(--primary-text);
  --mat-mdc-slider-hover-ripple-color: rgba(238, 240, 242, 0.5);
  --mat-mdc-slider-focus-ripple-color: rgba(238, 240, 242, 0.2);
}

mat-slider {
  .mdc-slider__tick-marks {
    display: none !important;
  }
}

html,
body {
  color: var(--primary-text);
  font-family: var(--font);
  background-color: var(--main-background);
  font-weight: 400;
  overflow: hidden;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  /* Для WebKit (Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  font-weight: 300;
}

a,
a:active {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

markdown h1,
markdown h2,
markdown h3,
markdown h4,
markdown h5,
markdown h6 {
  margin-bottom: 20px;
}

hr {
  border: none;
  border-top: 1px solid var(--stroke-light);
}

markdown p {
  margin-bottom: 15px;
}

markdown del {
  text-decoration: none;
  color: var(--purple);
}

markdown img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

/* Отступы для списков */
markdown ul,
markdown ol {
  margin-bottom: 20px;
}

/* Отступы между элементами списка */
markdown li {
  margin-bottom: 10px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  color: inherit;
  line-height: 120%;
}

ul,
li,
ol {
  padding-inline-start: 0;
  list-style-position: inside;
}

ol~li::marker {
  margin-bottom: 12px;
}

h1 {
  font-size: 38px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
}

img {
  display: block;
  max-width: 100%;

}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  font-weight: 300;
}

swiper-container::part(container) {
  overflow: visible;
}

swiper-container::part(pagination) {
  bottom: -30px;
}

swiper-container::part(bullet) {
  background-color: var(--blue-light);
}

swiper-container::part(bullet-active) {
  background-color: var(--purple);
}

:root {
  --tg-theme-bg-color: #050726;
  --tg-theme-text-color: #e5e6e8;
  --tg-theme-second-text-color: #59686f;
  --tg-theme-hint-color: #929292;
  --tg-theme-link-color: #207ae4;
  --tg-theme-sector-color: #181f29;
  --tg-theme-button-color: #5584bc;
  --tg-theme-button-text-color: #0a0a0a;
  --tg-theme-secondary-bg-color: #f3f2f9;
  --font: "Geologica";
  --primary-text: #EEF0F2;
  --main-background: #050726;
  --secondary-bg: #101340;
  --stroke-light: #414360;
  --stroke-dark: #1E2144;
  --primary-buttons: #0A84FF;
  --secondary-text: #939AB2;
  --purple: #C997F8;
  --dark-purple: #8062CE;
  --blue-light: #B5CAFF;
  --dark-elements: #080110;
  --disabled: #767676;
  --gold-gradient: linear-gradient(90deg, #FFED86 0%, #FFDB01 100%);
  --green: #00AB44;
  --tetriary-bg: #1E203C;
  --yellow: #FDBA36;
  --total: #fff;

}

.page {
  &-bg-jungle {
    background-image: url('../../assets/images/welcome-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  &-container {
    padding: 32px 16px 24px 16px;
    width: 100%;
    height: 100%;
    position: relative;

    &.--center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &-button {
    &.--fixed {
      position: sticky;
      bottom: 0;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }

  &-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  &-subtitle {
    font-size: 20px;
    padding: 0 10px;
  }

  &-info-text {
    font-size: 14px;
    color: var(--secondary-text);
  }
}

.--bg-top {
  position: relative;
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    top: -400px;
    left: 50%;
    width: 60%;
    transform: translate(-50%, 0);
    height: 400px;
    -webkit-box-shadow: 0px 5px 150px 60px rgba(79, 43, 156, 0.5);
    -moz-box-shadow: 0px 5px 150px 60px rgba(79, 43, 156, 0.5);
    box-shadow: 0px 5px 150px 60px rgba(79, 43, 156, 0.5);
    border-radius: 50%;
    z-index: -1;
  }
}


router-link {
  font-weight: 300;
}

.modal {
  &-img {
    margin-bottom: 15px;
  }

  &-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
  }

  &-subtitle {
    font-size: 14px;
    text-align: center;
    padding: 0 40px;
    line-height: 1.4;
  }
}

::-webkit-scrollbar {
  display: none;
}

.shop-page__item-level-max {
  font-weight: bold;
  color: var(--gold);
}

.bold {
  font-weight: bold;
}

.devider {
  width: 100%;
  background-image: url('../../assets/images/Devider.png');
  height: 5px;
  width: 181px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text {
  &-purple {
    color: var(--purple);
  }

  &-green {
    color: #68CD72;
  }

  &-red {
    color: #FF9BA7;
  }

  &-grey {
    color: var(--secondary-text);
  }

  &-blue-light {
    color: var(--blue-light);
  }

  &-yellow-gradient {
    background: linear-gradient(90deg, #FFED86 0%, #FFDB01 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.reminder {
  width: 6px;
  height: 6px;
  background: #9747FF;
  border-radius: 50%;
  position: relative;
  margin: 5px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border: 1px solid #9747FF99;
    border-radius: 50%;
    animation: reminder 2s cubic-bezier(0.12, 0.01, 0.53, 0.48) infinite;

  }
}

@keyframes reminder {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
  }

  100% {
    transform: translate(-50%, -50%) scale(2.4);
    opacity: 0.3;
  }
}

.shadow {
  -webkit-box-shadow: 0px 0px 115px 50px rgba(94, 87, 205, 1);
  -moz-box-shadow: 0px 0px 115px 50px rgba(94, 87, 205, 1);
  box-shadow: 0px 0px 115px 50px rgba(94, 87, 205, 1);
  position: absolute;
  z-index: -1;
}