<div class="dayli-progress-page">
    <div class="dayli-progress-page__header">
        <app-tag class="dayli-progress-page__header-tag">Ваш результат</app-tag>
        <h3 class="dayli-progress-page__header-title">
            Поздравляем, вы только что завершили <span class="text-purple">свое {{getCurrentDayName()}} упражнение</span>
        </h3>
    </div>
    <div class="dayli-progress-page__body">
        <div class="dayli-progress-page__day-change">
            <h1 class="dayli-progress-page__day-change-title text-purple">{{userData.activeDays}}</h1>
            <div class="shadow"></div>
            <p class="dayli-progress-page__day-change-subtitle">день</p>
        </div>
        <app-calendar class="dayli-progress-page__calendar" [userLastActive]="userData.lastActiveDate" [userLastVisit]="userData.lastVisit" [activeDate]="userData.lastActiveDate" [activeDays]="userData.activeDays" [todayActive]="userData.todayActive" [prevActiveDate]="userData.prevActiveDate" [prevActiveDays]="userData.prevActiveDays"></app-calendar>
        <app-button class="dayli-progress-page__body-button" routerLink="/buying"><h4>Продолжить</h4></app-button>
    </div>
    
    
</div>