.dayli-progress-page {
    background:linear-gradient(180deg, rgba(5, 7, 38, 0.4) 0%, #050726 27.5%, #050726 100%), url('../../../../assets/images/dayli-banner.png') top center / 100% auto no-repeat;
    height: calc(100vh - 80px);
    text-align: center;
    padding: 0 16px;
    display: flex;
    overflow: auto;
    flex-direction: column;
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        &-tag {
            margin-bottom: 32px;
            padding: 4px 17px;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        justify-content: space-evenly;
        &-button {
            margin-bottom: 20px;
        }
        
    }
    &__calendar {
        margin-bottom: 26px;
    }
    &__day-change {
        position: relative;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        margin-bottom: 30px;
        &::before {
            content: "";
            background: url('../../../../assets/images/blur.png');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-size: cover; /* Обеспечит покрытие всего блока */
            background-position: center;
            width: 200px;
            height: 200px;
        }
        &-title {
            font-size: 64px;
            font-weight: 500;
            line-height: 1.1;
        }
        &-subtitle {
            font-size: 18px;
        }
    }
}