.slide-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__img {
        width: 160px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 16px;
        position: relative;
        user-select: none;
        z-index: 10;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        &-icon {
            z-index: 100;
            width: 100px;
            height: 100px;
        }
    }

    &__stats {
        line-height: 1;
        &_sub {
            font-weight: 500;
        }
    }

    &__title {
        margin-bottom: 24px;
    }

    &__text {
        padding: 26px 5px 0;
        font-size: 18px;
    }
}