<div class="slide-info">
    <div class="slide-info__img" *ngIf="iconName">
        <img [src]="'assets/images/' + iconName + '.png'" class="slide-info__img-icon">
        <div class="shadow"></div>
    </div>
    <h2 class="slide-info__title" *ngIf="title" [ngClass]="'text-' + color">
        {{title}}
    </h2>
    <h1 class="slide-info__stats" *ngIf="stats">
        {{stats}}
    </h1>
    <p class="slide-info__stats_sub" *ngIf="statsSub">
        {{statsSub}}
    </p>
    <p class="slide-info__text page-info-text" *ngIf="text">
        {{text}}
    </p>
</div>