.slide-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__img {
        width: 160px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        &::before {
            content: url('/assets/images/blur.png');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-icon {
            z-index: 100;
        }
    }

    &__stats {
        line-height: 1;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__text {
        padding: 26px 5px 0;
        font-size: 18px;
    }
}