:host {
    display: contents;
}

.lesson {
    &-container {
        padding: 0 16px 180px 16px;
    }

    &-header {
        display: flex;
        justify-content: flex-end;
        padding-top: 24px;
        margin-bottom: 8px;
    }

    &-close {
        background: var(--stroke-dark);
        width: 34px;
        height: 34px;
    }

    &-tag {
        color: var(--primary-text);
        background: var(--tetriary-bg);
        border: 1px solid var(--stroke-dark);
        min-height: 29px;
        margin-bottom: 32px;

        &_icon {
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }
    }

    &-intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 32px;
    }

    &-image {
        height: 200px;

        &-img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 16px;
        }
    }
}



.lesson-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 8px;
}

.lesson-subtitle {
    color: var(--secondary-text);
    margin-top: 16px;
}

.lesson-details {
    margin-top: 32px;
}

.lesson-tags {
    display: flex;
    gap: 16px;
    font-size: 16px;
    color: var(--primary-text, #eef0f2);
    font-weight: 300;
    line-height: 1.3;
}

.tag-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.lesson-name {
    color: var(--Primary-text, #eef0f2);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 32px;
}

.lesson-description {
    color: #eef0f2;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    margin-top: 16px;
}

.divider {
    border: none;
    border-top: 1px solid #414360;
    margin: 32px 0;
}

.lesson-sources {
    color: var(--Secondary-text, #939ab2);
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
}

.sources-title {
    color: var(--Primary-text, #eef0f2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 32px;
}

.sources-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sources-list li {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.link-btn {
    display: flex;
    align-items: center;
    color: var(--primary-buttons, #0a84ff);
    text-decoration: none;
    font-weight: 300;
    margin-top: 16px;
}

.lesson-footer {
    text-align: center;
    margin-top: 12px;
}

.primary-button {
    justify-content: center;
    border-radius: 14px;
    background: var(--Primary-buttons, #0a84ff);
    box-shadow: 0 4px 0 0 #003f7e;
    display: inline-flex;
    min-height: 48px;
    width: 100%;
    max-width: 358px;
    color: var(--Primary-text, #eef0f2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    border: none;
    cursor: pointer;
}