<div class="breathing-page page-bg-jungle">
    <div class="breathing-page__body" *ngIf="!loading$.value;else loading">
        <div class="breathing-page__body-header">
            <app-mini-button class="settings-button" icon="settings" (click)="openPracticeSettings()"></app-mini-button>
            <app-select-button (click)="openSoundSettings()">
                <div class="select-button__icon">
                    <img alt="icon" [src]="breathSetting.sound?.iconMedia?.url">
                </div>
                <p class="select-button__title">{{breathSetting.sound?.title}}</p>
            </app-select-button>
            <app-mini-button icon="close" [iconHeight]="30" [iconWidth]="30" routerLink="/home"></app-mini-button>
        </div>
        <div class="breathing-page__body-content">
            <mat-icon [svgIcon]="breathType" [style.width.px]="32" [style.height.px]="32"></mat-icon>
            <div class="breath-circle" [ngClass]="getProcessClass()" [style.--animation-speed]="currentSpeed + 's'">
                <h2 class="breath-circle__timer">{{getTimer(timer)}}</h2>
            </div>
            <h2 class="breath-title">{{action}}</h2>
            <app-tag class="breath-duration">{{getTimer(currentDuration)}}</app-tag>
        </div>
    </div>
    <ng-template #loading>
        <div class="breathing-page__loading">
            <h4 class="text-grey breathing-page__loading-title">Расслабьтесь и займите удобное положение</h4>
            <h4 class="text-purple breathing-page__loading-subtitle">Мы начинаем...</h4>
        </div>
    </ng-template>
</div>

<app-practice-settings (closeModalEvent)="closePracticeSettings()"></app-practice-settings>
<app-sound-settings (closeModalEvent)="closeSoundSettings()"></app-sound-settings>
<app-duration-settings></app-duration-settings>
