.buy-premium-page {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__body {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        
    }
    &__top {
        padding: 16px 16px 0;
        &-title {
            margin-right: 40px;
            padding-top: 16px;
        }
    }
    &__button {
        width: 100%;
        padding: 0 16px 16px 16px;
        &-close {
            position: absolute;
            top: 16px;
            right: 16px;
            background: var(--stroke-dark);
            height: 34px;
            width: 34px;
        }
    }
}