
.notAuth-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    &__logo {
        z-index: 10;
    }
}