<app-modal [viewModal]="viewModal" (closeModalEmit)="closeModal()" [viewCloseButton]="true">
    <h3 class="help-modal__title" title>Помощь <br> <span class="help-modal__subtitle text-grey">Как мы можем вам помочь?</span></h3>
    <div class="help-modal__body">
        <div class="link-item" (click)="openTgLink('https://telegra.ph/FAQs-10-06')">
            <p>⁉️ Частые вопросы и ответы</p>
            <mat-icon svgIcon="arrowRight"></mat-icon>
        </div>
        <div class="link-item" (click)="openTgLink('https://telegra.ph/Polzovatelskoe-soglashenie-dlya-BreatheWell-Telegram-mini-app-10-06')">
            <p>📋 Условия использования</p>
            <mat-icon svgIcon="arrowRight"></mat-icon>
        </div>
        <div class="link-item" (click)="openTgLink('https://telegra.ph/Politika-konfidencialnosti-BreatheWell-Telegram-mini-app-10-06')">
            <p>📋 Политика конфиденциальности</p>
            <mat-icon svgIcon="arrowRight"></mat-icon>
        </div>
    </div>
    <app-button footer (click)="openTelegramLink('https://t.me/bw_support_team')">
        <h4>Напишите нам</h4>
    </app-button>
</app-modal>