:host {
    display: contents;
}

.course {
    &-tag {
        background: var(--gold-gradient);
        color: #000;
        border: none;
        padding: 4.5px 16px;
        height: 30px;
    }
}


.breathing-course {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-bottom: var(--dynamic-size);
}

.course-banner {
    position: relative;
    aspect-ratio: 1;
    width: 100%;
    height: 400px;
    background-color: var(--primary-text-color);
    overflow: hidden;
}

.banner-content {
    position: relative;
    height: 100%;
    padding-bottom: 29px;
    background: linear-gradient(180deg, rgba(5, 7, 38, 0) 50%, #050726 100%), url('../../../../assets/images/course-preview.png') no-repeat center center;
    background-size: cover;
}

.banner-background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-nav {
    position: relative;
    display: flex;
    padding: 24px 16px 0;
}

.back-button {
    width: 34px;
    height: 34px;
    background-color: var(--stroke-dark);
    border: none;
    cursor: pointer;
    color: var(--secondary-text);
}

.course-label {
    position: absolute;
    bottom: 29px;
    left: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.label-text {
    padding: 5px 16px;
    border-radius: 20px;
    border: 1px solid rgba(255, 235, 115, 0.4);
    background: var(--linear-yellow-light);
}

.course-icon {
    width: 30px;
    height: 30px;
}

.course-content {
    padding: 0 16px;
}

.course-title {
    margin-bottom: 24px;
}

.course-description {
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--stroke-light);
}

.description-title {
    color: var(--secondary-text);
    font-size: 12px;
    margin-bottom: 8px;
}

.description-text {
    font-size: 16px;
    line-height: 1.3;
}

.content-divider {
    border: none;
    border-top: 1px solid var(--stroke-light-color);
    margin: 32px 0;
}

.course-features {
    list-style: none;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--stroke-light);
    margin-bottom: 32px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

.progress-section {
    border: 1px solid var(--stroke-dark);
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 32px;
}

.progress-title {
    margin: 0 0 8px;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--stroke-dark);
    border-radius: 12px;
    padding: 12px 16px;
}

.progress-bar {
    flex-grow: 1;
    height: 8px;
    background-color: var(--stroke-light);
    border-radius: 12px;
    overflow: hidden;
    margin-right: 16px;
}

.progress-fill {
    height: 100%;
    background-color: var(--purple);
    border-radius: 12px;
}

.progress-count {
    font-size: 12px;
}

.lessons {
    &-list {}

    &-item {
        margin-bottom: 8px;
        padding-left: 16px;
        position: relative;

        &:last-child {
            &::after {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 1px;
            background-image: linear-gradient(var(--stroke-light) 33%, var(--main-background) 0%);
            background-position: right;
            background-size: 10px 10px;
            background-repeat: repeat-y;
            height: 80%;
            left: 0;
            top: calc(50% + 10px);
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-status {
            display: none;
            position: relative;

            &--active {
                position: absolute;
                width: 20px;
                height: 20px;
                left: -10px;
                top: 50%;
                border: 2px solid var(--blue-light);
                border-radius: 50%;
                transform: translate(0, -50%);

            }

            &--current {
                position: absolute;
                width: 20px;
                height: 20px;
                left: -10px;
                top: 50%;
                border: 2px solid var(--blue-light);
                border-radius: 50%;
                transform: translate(0, -50%);
            }

            &--closed {
                position: absolute;
                width: 20px;
                height: 20px;
                left: -10px;
                top: 50%;
                transform: translate(0, -50%);
                color: var(--stroke-light);
            }

        }

        &.--closed {
            .lessons-item-status {
                &--closed {
                    display: block;
                }
            }
        }

        &.--active {
            .lessons-item-status {
                &--active {
                    display: block;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 8px;
                        height: 8px;
                        background: var(--blue-light);
                        border-radius: 50%;
                    }
                }
            }
        }

        &.--current {
            .lessons-item-status {
                &--current {
                    display: block;

                    
                }
            }
        }
    }
}

.lessons-section {
    position: relative;
}

.lessons-title {
    margin-bottom: 16px;
}



// progress cirle
.progress-container {
    width: 30px;
    height: 30px;
}

.progress-circle {
    position: relative;
    height: 30px;
}

.circular-chart {
    width: 30px;
    height: 30px;
}

.circle-bg {
    fill: none;
    stroke: #FFED8640;
    stroke-width: 1.4px;
}

.circle {
    fill: none;
    stroke: #FFE442;
    stroke-width: 1.4px;
    stroke-linecap: round;
    transition: stroke-dasharray 0.6s ease;

}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    width: 22px;
    height: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1px;
    align-items: center;
    background: var(--gold-gradient);
    border-radius: 50%;
    color: #000;
}