<div class="lesson-learned" [class.view]="viewModal" >
    <div class="lesson-learned__body">
        <div class="robot-wrapper">
            <mat-icon class="robot" svgIcon="robot"></mat-icon>
        </div>
        <h3 class="lesson-learned__title">Отличная работа,<span class="text-purple"> урок пройден!</span></h3>
        <p class="lesson-learned__text text-grey">Не забудь пожалуйста про ежедневные задания. Они помогут тебе применить то, что ты сегодня узнал.</p>
    </div>
    <div class="lesson-learned__footer">
        <app-button (click)="closeModal()">
            <h4>Дальше</h4>
        </app-button>
    </div>
</div>