<div class="home-page --bg-top">
    <div class="home-page__user-info">
        <div class="home-page__user-info-avatar">
            <app-avatar [displayName]="userData.username" [width]="52" [height]="52" [photoURL]="userData.avatar"></app-avatar>
        </div>
        <div class="home-page__user-info-welcome">
            <p class="home-page__user-info-welcome-title">{{timeOfDay.ru}}, {{'yLuTo4KA'}}</p>
            <div class="premium-tag" *ngIf="userData.premium">
                <app-premium-tag></app-premium-tag>
            </div>
        </div>
        <app-mini-button icon="help" class="home-page__user-info-help-button"></app-mini-button>
    </div>
    <div class="home-page__calendar">
        <app-calendar [activeDays]="userData.activeDays" [userLastActive]="userData.lastActiveDate" [userLastVisit]="userData.lastVisit" [yearView]="true"></app-calendar>
    </div>
    <div class="home-page__guides">
        <h5 class="home-page__guides-title">Дыхательные упражнения</h5>
        <div class="home-page__guides-list">
            <app-tag class="home-page__guides-item" *ngFor="let practice of practiceData" (click)="updateAndOpenPractice(practice)">
                <p class="home-page__guides-item-icon">{{practice.iconText}}</p>
                <p class="home-page__guides-item-title">{{practice.title}}</p>
            </app-tag>
        </div>
    </div>
    <div class="home-page__suggestions">
        <app-suggest [suggestSettings]="suggestSettings"></app-suggest>
    </div>

</div>