<div class="home-page --bg-top --bg-bottom">
    <div class="home-page__user-info">
        <div class="home-page__user-info-avatar">
            <app-avatar [displayName]="userData.username" [width]="52" [height]="52"
                [photoURL]="userData.avatar"></app-avatar>
        </div>
        <div class="home-page__user-info-welcome">
            <p class="home-page__user-info-welcome-title">{{timeOfDay.ru}}, {{userData.username}}</p>
            <div class="premium-tag">
                <app-premium-tag [premium]="userData.premium"></app-premium-tag>
            </div>
        </div>
        <app-mini-button icon="help" class="home-page__user-info-help-button"
            (click)="toggleHelpModal()"></app-mini-button>
    </div>
    <div class="home-page__calendar">
        <app-calendar [activeDays]="userData.activeDays" [userLastActive]="userData.lastActiveDate"
            [userLastVisit]="userData.lastVisit" [yearView]="true"></app-calendar>
    </div>
    <div class="home-page__guides">
        <h4 class="home-page__guides-title">Дыхательные упражнения</h4>
        <div class="home-page__guides-wrapper">
            <div class="home-page__guides-list">
                <app-tag class="home-page__guides-item" *ngFor="let practice of practiceData; let i = index"
                    (click)="updateAndOpenPractice(practice)" [ngClass]="{'hidden': i % 2 !== 0}">
                    <p class="home-page__guides-item-icon">{{practice.iconText}}</p>
                    <p class="home-page__guides-item-title">{{practice.title}}</p>
                </app-tag>
            </div>
            <div class="home-page__guides-list">
                <app-tag class="home-page__guides-item" *ngFor="let practice of practiceData; let i = index"
                    (click)="updateAndOpenPractice(practice)" [ngClass]="{'hidden': i % 2 === 0}">
                    <p class="home-page__guides-item-icon">{{practice.iconText}}</p>
                    <p class="home-page__guides-item-title">{{practice.title}}</p>
                </app-tag>
            </div>
        </div>
    </div>
    <div class="home-page__suggestions">
        <app-suggest [suggestSettings]="suggestSettings"></app-suggest>
    </div>
    <div class="home-page__lessons" *ngIf="!progressData.todayComplete">
        <h5 class="home-page__lessons-title">Рекомендации для вас</h5>
        <p class="home-page__lessons-date">{{getDate()}}</p>
        <app-sector class="home-page__lessons-item" *ngIf="!progressData.todayComplete" [radius]="16">
            <div class="home-page__sector-title">
                <div class="reminder"></div>
                <h5>Следующий урок</h5>
            </div>
            <app-lesson-card [title]="progressData.todayLesson.preview_title"
                [subtitle]="progressData.todayLesson.description" [img]="progressData.todayLesson.icon"
                [duration]="progressData.todayLesson.reading_time"
                (click)="openLesson(progressData.todayLesson.id)"></app-lesson-card>
        </app-sector>
    </div>
    <div class="home-page__tasks" *ngIf="progressData.lesson_learned">
        <app-sector class="home-page__tasks-wrapper" [border]="true" [radius]="16">
            <div class="home-page__sector-title">
                <div class="reminder"></div>
                <h5>Задания на день</h5>
            </div>
            <div class="home-page__tasks-list" *ngIf="!progressData.todayComplete; else placeholder">
                <div class="home-page__tasks-item" *ngFor="let task of progressData.todayTasks">
                    <app-task-card [task]="task" [lesson]="progressData.todayLesson"
                        [completedTasks]="progressData.completedTasks" (checkTask)="checkTask($event)"></app-task-card>
                </div>
            </div>
            <ng-template #placeholder>
                <div class="home-page__task-placeholder" *ngIf="progressData.todayComplete">
                    <div class="home-page__task-placeholder-icon">
                        <img src="assets/images/check.png" alt="success">
                    </div>
                    <p class="home-page__task-placeholder-text">Ты успешно выполнил все задания на сегодня!</p>
                </div>
            </ng-template>
        </app-sector>
    </div>
    <div class="home-page__online">
        <div class="blur-circle --left"></div>
        <div class="blur-circle --right"></div>
        <div class="online-content">
            <div class="online-avatars">
                <div class="online-avatars-item">
                    <app-avatar [displayName]="'U'" [photoURL]="'assets/images/animoji/user1.png'" [width]="36"
                        [height]="36" [border]="true"></app-avatar>
                </div>
                <div class="online-avatars-item">
                    <app-avatar [displayName]="'U'" [photoURL]="'assets/images/animoji/user2.png'" [width]="36"
                        [height]="36" [border]="true"></app-avatar>
                </div>
                <div class="online-avatars-item">
                    <app-avatar [displayName]="'U'" [photoURL]="'assets/images/animoji/user3.png'" [width]="36"
                        [height]="36" [border]="true"></app-avatar>
                </div>
                <div class="online-avatars-item">
                    <app-avatar [displayName]="'U'" [photoURL]="'assets/images/animoji/user4.png'" [width]="36"
                        [height]="36" [border]="true"></app-avatar>
                </div>
                <div class="online-avatars-item">
                    <app-avatar [displayName]="'U'" [photoURL]="'assets/images/animoji/user5.png'" [width]="36"
                        [height]="36" [border]="true"></app-avatar>
                </div>
            </div>
            <div class="online-stat">
                <h1 class="online-stat-count">{{currentOnline}}</h1>
                <p class="online-stat-desc">Людей сейчас проходят <br> курс</p>
            </div>
        </div>
    </div>
</div>

<app-help-modal [viewModal]="viewHelpModal" (closeModalEvent)="toggleHelpModal()"></app-help-modal>