.home-page {
    padding: 32px 16px;
    position: relative;
    z-index: 1;
    height: calc(100vh - 150px);
    overflow-y: scroll;
    overflow-x: hidden;

    &__task {
        &-placeholder {
            display: flex;
            align-items: center;
            padding: 16px;
            background: url('../../../../assets/images/decor-mini.png') right no-repeat;
            background-size: contain;
            position: relative;
            overflow: hidden;
            border: 1px solid var(--stroke-dark);
            border-radius: 16px;

            &-icon {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                background-color: #B5CAFF1A;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                flex-shrink: 0;

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            &-text {
                padding-right: 54px;
                font-size: 13px;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: -70px;
                left: 20%;
                width: 290px;
                height: 100px;
                border-radius: 50%;
                background: linear-gradient(133.03deg, rgba(79, 43, 156, 0.5) 4.47%, rgba(78, 23, 196, 0.5) 71.45%);
                filter: blur(60px);
                opacity: 0.7;
                z-index: -1;
            }
        }

    }

    &__user {

        &-info {
            display: flex;
            margin-bottom: 24px;

            &-avatar {
                margin-right: 8px;
            }

            &-welcome {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &-title {
                    margin-bottom: 8px;
                }
            }

            &-help-button {
                width: 44px;
                height: 44px;
                background-color: var(--stroke-dark);
            }
        }
    }

    &__calendar {
        margin-bottom: 40px;
    }

    &__guides {
        margin-bottom: 24px;

        &-title {
            margin-bottom: 24px;
        }
        &-wrapper {
            overflow-y: hidden;
            overflow-x: auto;
            margin-left: -16px;
            margin-right: -16px;
            padding-left: 16px;
        }

        &-list {
            display: flex;
        }

        &-item {
            margin-right: 8px;
            margin-bottom: 8px;
            padding: 8px 16px;
            height: 44px;
            font-size: 14px;
            cursor: pointer;
            background: var(--stroke-dark);
            color: var(--primary-text);
            text-wrap: nowrap;
            p {
                font-weight: 400;
            }

            &:last-child {
                margin-right: 0;
            }

            &-icon {
                margin-right: 8px;

                font-size: 20px;
            }

            &.--active {
                border: 1px solid var(--purple);
            }
        }
    }

    &__suggestions {
        margin-bottom: 32px;
    }

    &__lessons {
        margin-bottom: 32px;

        &-title {
            margin-bottom: 4px;
        }

        &-date {
            color: #FFFFFF99;
            margin-bottom: 32px;
        }

        &-item {}
    }

    &__sector {
        &-title {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            h5 {
                margin-left: 8px;
            }
        }

    }

    &__tasks {
        margin-bottom: 66px;

        &-item {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }


    &__online {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        z-index: 10;
    }
}

.online {
    &-avatars {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;

        &-item {
            margin-left: -10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &-stat {
        &-count {
            color: #B48EE5;
            margin-bottom: 8px;
        }

        &-desc {
            color: #FFFFFFB2;
            font-size: 13px;
        }
    }
}

.blur-circle {
    position: absolute;
    bottom: 150px;
    width: 60%;
    height: 70%;
    border-radius: 50%;
    background-color: #9747FF;
    filter: blur(100px);
    opacity: 0.7;
    bottom: 0;
    z-index: -1;

    &.--right {
        right: -25%;
        background: #E476FF80;
    }

    &.--left {
        left: -25%;
        background: #9747FFB2;
    }
}

.hidden {
    display: none;
}