.welcome-page {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 26px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-title {
            margin-bottom: 64px;
        }
        &-subtitle {
            font-size: 18px;
            margin-bottom: 32px;
        }
        &-text {
            margin-bottom: 16px;
        }
    }
}

.robot {
    width: 143px;
    height: 120px;
    &-wrapper {
        margin-bottom: 64px;
    }
}