<div class="welcome-page --bg-top">
    <div class="welcome-page__content">
        <div class="robot-wrapper">
            <mat-icon class="robot" svgIcon="robot"></mat-icon>
        </div>
        <h3 class="welcome-page__content-title">Приветствую, я бот Breathe</h3>
        <p class="welcome-page__content-subtitle">Я помогаю людям развивать <br> <span class="text-purple">суперсилу - дыхание...</span></p>
        <p class="welcome-page__content-text text-grey">Но не просто дыхание, я учу превращать обычный вдох в способ снижения стресса, улучшения сна и обретения спокойствия.</p>
    </div>
    <app-button routerLink="/start/welcome-slider">
        <h4>Дальше</h4>
    </app-button>
</div>