<div class="welcome-page page-bg-jungle">
    <div class="page-container --center">
        <div class="welcome-page__info">
            <h1 class="welcome-page__info-title page-title">
                Добро пожаловать!
            </h1>
            <h4 class="welcome-page__info-subtitle page-subtitle">
                BreathWell - ваш помощник на пути <span class="text-purple">к лучшей жизни</span>
            </h4>
            <div class="welcome-page__info-text page-info-text">
                Наше приложение поможет тебе превратить обычный вдох в способ снижения стресса, улучшения сна и обретения спокойствия.
            </div>
            <div class="welcome-page__devider devider"></div>
            <h4 class="welcome-page__info-citate text-purple">
                Вдохни глубже и давай начнем 
            </h4>
        </div>
        <app-button routerLink="/start/welcome-slider">
            <h4>Дальше</h4>
        </app-button>
    </div>
    
</div>