<div class="today-tasks --bg-top">
    <div class="today-tasks__header">
        <app-mini-button icon="close" class="today-tasks__close-btn" routerLink="/home"></app-mini-button>
    </div>
    <div class="today-tasks__body">
        <h3 class="today-tasks__body-title">Ваши <span class="text-purple">задания</span><br> на сегодня</h3>
        <p class="text-grey today-tasks__body-subtitle">Задания помеченные галочкой ✅ считаются выполненными. Для того чтобы завершить урок нужно выполнить все задания.</p>
        <div class="today-tasks__list">
            <div class="today-tasks__item" *ngFor="let task of tasks">
                <app-task-card [task]="task" [completedTasks]="progress.completedTasks" (checkTask)="checkTask($event)"></app-task-card>
            </div>
        </div>
    </div>
</div>