.today-tasks {
    padding: 24px 16px;

    &__header {
        display: flex;
        justify-content: flex-end;
    }

    &__close-btn {
        width: 33px;
        height: 33px;
        background: var(--stroke-dark);
    }

    &__body {
        &-title {
            margin-bottom: 16px;
        }

        &-subtitle {
            margin-bottom: 58px;
            padding-right: 20px;
        }
    }

    &__list {}

    &__item {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

}