<div class="highlights" (click)="handleClick($event)">
    <div class="highlights-header">
        <div class="highlights-paginator-list">
            <div class="highlights-paginator-item" *ngFor="let highlight of highlights" [ngClass]="{'active': slide === highlight.id}" (click)="setSlide(highlight.id); $event.stopPropagation()"></div>
        </div>
        <app-mini-button icon="close" class="close-button" (click)="handleClosePage($event)"></app-mini-button>
        <img [src]="highlights[slide - 1].img" alt="content">
    </div>
    <div class="highlights-body">
        <markdown [data]="highlights[slide - 1].content"></markdown>
    </div>
</div>

<app-confrim-close [viewModal]="viewConfrimModal" (closeModalEmit)="this.viewConfrimModal = false"></app-confrim-close>
<app-lesson-learned [viewModal]="viewLearnLessonModal" (closeModalEmit)="closeLearnLessonModal()"></app-lesson-learned>