<div class="highlights" (click)="handleClick($event)">
    <div class="highlights-header">
        <div class="highlights-paginator-list">
            <div class="highlights-paginator-item" *ngFor="let highlight of highlights; let i = index" [ngClass]="{'active': slide === i}" (click)="setSlide(i); $event.stopPropagation()"></div>
        </div>
        <app-mini-button icon="back" class="back-button" (click)="handleBack($event)"></app-mini-button>
        <img [src]="highlights[slide].img" alt="content">
    </div>
    <div class="highlights-body">
        <markdown [data]="highlights[slide].content"></markdown>
    </div>
</div>

<app-confrim-close [viewModal]="viewConfrimModal" (closeModalEmit)="this.viewConfrimModal = false"></app-confrim-close>
<app-lesson-learned [viewModal]="viewLearnLessonModal" (closeModalEmit)="closeLearnLessonModal()"></app-lesson-learned>