.slide-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    text-align: center;

    &__tag {
        margin-bottom: 16px;
        
    }

    &__title {
        margin-bottom: 16px;
        padding: 0 16px;
    }

    &__text {
        margin-bottom: 32px;
        padding: 0 16px;
        font-size: 16px;
    }

    &__swiper {
        width: 100%;
        text-align: left;
        min-height: 216px;
        max-height: 356px;
        height: 100%;
        margin-bottom: 40px;

        &-slide {
            min-height: 200px;
            max-height: 320px;
            height: 100%;
            width: 229.7px !important;
            padding: 16px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            &:first-child {
                margin-left: 16px;
            }
            &:last-child {
                margin-right: 16px;
            }
        }

        &-title {}
        &-subtitle {
            font-size: 14px;
        }

    }
}