<div class="slide-slider">
    <h2 class="slide-slider__title">
        Что меня <span class="text-purple">ждет?</span>
    </h2>
    <p class="slide-slider__text page-info-text">
        Освоим простые и эффективные дыхательные техники для снижения стресса и улучшения самочувствия.
    </p>
    <swiper-container class="slide-slider__swiper" [spaceBetween]="8.3" slides-per-view="auto"
    free-mode="true"
         [pagination]="{ clickable: true }">
        <swiper-slide *ngFor="let content of contents; let index = index" class="slide-slider__swiper-slide" [ngStyle]="{'background-image': 'url(' + content.image + ')'}" >
            <h4 class="slide-slider__swiper-title">
                {{content.title}}
            </h4>
            <p class="slide-slider__swiper-subtitle">
                {{content.subtitle}}
            </p>
        </swiper-slide>
    </swiper-container>
</div>