:host {
    display: flex;
    justify-content: center;
    color: var(--dark-purple);
    border: 1px solid var(--stroke-light);
    background: var(--main-background);
    border-radius: 28px;
    width: max-content;
    font-weight: 300;
    line-height: 1;
    padding: 1px 9px;
    font-size: 12px;
}
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
}