.cta-page {
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 1;
        &-tag {
            margin-bottom: 48px;
            padding: 4px 17px;
            font-size: 16px;

        }
        &-title {
            margin-bottom: 48px;
            padding: 0 20px;
        }
        &-subtitle {
            margin-bottom: 24px;
        }
        &-btn {
            margin-bottom: 25px;
        }
    }
    &__devider {
        margin: 48px 0;
    }
}