<div class="cta-page page-bg-jungle">
    <div class="page-container --center">
        <div class="cta-page__info">
            <app-tag class="cta-page__info-tag">Дыхательная практика</app-tag>
            <h3>Давайте попробуем короткое упражнение на дыхание</h3>
            <div class="cta-page__devider devider"></div>
            <h4 class="cta-page__info-citate">
                Это займет <span class="text-purple">меньше 1 минуты</span>
            </h4>
        </div>
        <app-button class="cta-page__info-btn" [paddingX]="5" [paddingY]="15" routerLink="/breathing">
            <h4>Хочу Попробовать</h4>
        </app-button>
        <router-link class="text-grey" routerLink="/home">В другой раз</router-link>
    </div>
    
</div>